@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #323232;
  --primary: #969639;
  --secondary: #cdd3b7;
  --tertiary: #ebe4e0;
}

/* Tailwind theme integration */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-heading: "BST Spyre";
  --font-calibre: "Calibre";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "BST Spyre", sans-serif;
  -webkit-user-drag: none; 
  /* user-select: none;  */
  pointer-events: auto;
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  display: none !important;
}


::-webkit-scrollbar-track {
  background: #010101;
}


::-webkit-scrollbar-thumb {
  background: black;
}




  


  .policyContent {
    width: 100%;
    padding-left: 5%;
  }
  
  .policyContent h2 {
    font-size: 1.8vw;
    font-weight: 500;
    font-family: var(--font-calibre);
    scroll-behavior: smooth;
    scroll-margin-top: 7vw;
  }
  
  .policyContent p {
    font-size: 1.2vw;
    text-rendering: geometricPrecision;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 2% 0 2%;
  }

  .policyContent.mb-0 {
    margin-bottom: 0;
  }

  .policyContent p:first-child {
    margin-top: 0;
  }

  .policyContent ul,
  .policyContent ol {
    margin-left: 1.5vw;
    margin-top: 1%;
    padding-bottom: 1.5%;
  }
  .policyContent li {
    text-rendering: geometricPrecision;
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: var(--text-body);
    margin-bottom: 0.4%;
  }
  .policyContent li:last-child {
    margin-bottom: 0;
  }
  .policyContent ol li {
    list-style: auto;
  }
  .policyContent ul li {
    list-style: disc;
  }
