@import "tailwindcss";


:root {
  --background: #fafaf9;
  --foreground: #323232;
  --primary: #969639;
  --secondary: #CDD3B7;
  --tertiary: #EBE4E0;
}

/* Tailwind theme integration */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-heading: "BST Spyre";
  --font-calibre: "Calibre";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "BST Spyre", sans-serif;
}

