@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #323232;
  --primary: #969639;
  --secondary: #cdd3b7;
  --tertiary: #ebe4e0;
}

/* Tailwind theme integration */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-heading: "BST Spyre";
  --font-calibre: "Calibre";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "BST Spyre", sans-serif;
  -webkit-user-drag: none; /* Safari / Chrome */
  user-select: none; /* Prevent selection highlight */
  pointer-events: auto;
}
::-webkit-scrollbar {
  width: 4px;
  padding-left: 5vw;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #111111,
    #e17100
  ); /* gradient from top to bottom */
  border-radius: 8px;
}
